*~
*.o
*Comp
*.depend
autogen/
utils/adcini
utils/analdata
utils/analmwbuf
utils/analpeak
utils/analped
utils/chk_def
utils/chk_linkup
utils/de10reset
utils/fe_read
utils/flush
utils/flushall
utils/get_data
utils/get_ped
utils/gettemp
utils/getver
utils/hardreset
utils/linkdown
utils/linkup
utils/makeped
utils/nodedef
utils/nodeini
utils/nodeini0
utils/port0read
utils/port2reset
utils/port3read
utils/port3reset
utils/regread
utils/regwrite
utils/reset
utils/set_clkdiv
utils/set_def
utils/set_fullrange
utils/softreset
utils/status
utils/statusall
utils/trigio_cntrst
utils/trigio_rdone
utils/trigio_read
